/**
 * Main stylesheet.
 *
 * @package themakermap
 */

/**
 * Tags
 */
html, body {
    height: 100%;
    overflow: hidden;

    font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, .brand {
    font-family: 'PT Sans Narrow', sans-serif;
}

input[type='checkbox'] {
    margin: -1px 6px 0 0;
}

/**
 * Header & navigation
 */
#header {
    background-color: #3da1e9;
}

#topnav {
    width: 148px;
    margin: 22px 0 0 -172px;
}

#topnav a {
    display: inline-block;
    margin-left: 10px;
}

#controls {
    background-color: #368ecf;
}

.band {
    position: relative;
    width: 100%;
    padding: 12px 0px;
    text-align: center;
}

.container {
    display: inline-block;
    width: 480px;
    text-align: center;
}

/**
 * Map
 */
#map-wrapper {
    width: 100%;
    height: 100%;
}

#map-canvas {
    height: 100%;
    width:  100%;
    overflow: hidden;
}

#map-canvas img {
    max-width: none;
}

/**
 * Typography
 */
.brand {
    margin: 0px;
    padding: 0px;

    color: white;
    font-size: 48px;
    text-transform: uppercase;
}

/**
 * Helpers
 */
.pull-right {
    position: absolute;
    top: 0px;
    left: 100%;
}

.nav-tooltip {
    color: white;
    font-size: 0.75em;
}